@import "../../../../scss/index.scss";
.ellipsis-action {
    position: absolute;
    top: 10px;
    right: 10px;
    i {
        font-size: 16px;
        &:hover {
            cursor: pointer;
        }
    }
}

.publishing {
    p {
        margin-top: 55px;
        font-size: 16px;
    }
}

.modal-delete {
    max-width: 300px !important;
    overflow: hidden;
    button {
        display: block !important;
        width: 100%;
        border-radius: 0px !important;
        border-bottom: 1px solid #dbdbdb !important;
        background-color: #fff !important;
        &.btn__danger {
            color: $danger !important;
        }
    }
}